footer, header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div {
    display: flex;
    margin: 7px;
    border: 2px solid;
    padding: 50px;
}

.headerButton, input, label {
    margin: 10px;
}
input{
    padding: 10px;
    margin-left: 0px;
}

.deleteButton {
    font-size: 8px;
    padding: 2px;
    position: relative;
    bottom: 50px;
    left: 50px;
}