footer, header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div {
    display: flex;
    margin: 7px;
    border: 2px solid;
    padding: 50px;
    background-color: rgb(146, 143, 114);
    color:rgb(172, 230, 227);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headerButton, input, label {
    margin: 11px;
}
input{
    padding: 10px;
    margin-left: 0px;
}

.deleteButton {
    font-size: 8px;
    padding: 2px;
    position: relative;
    bottom: 50px;
    left: 50px;
}